.popular_text{
    position: relative;
    margin-bottom: 30px;
    font-family:Robot-Black;
}
.popular_text::before{
content: '';
width: 100px;
height: 3px;
background-color: black;
position: absolute;
top:75%;
left:50%;
transform: translate(-50%,-50%);
z-index: 2;
margin-top:5px ;
}
.popular_container{
    margin-top: 20px ;
}

@media screen and (min-width:300px) and (max-width:551px) {
    .popular_text{
        font-size:21px;
        margin-bottom:0px ;
    }
    .popular_container {
        margin-top: 0px;
    }
    .popular_text::before {
        content: '';
        width: 100px;
        height: 3px;
        background-color: black;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        margin-top: 5px;
    }
}