
.main-logo{
    width: 50%;
    margin-bottom: 0px;
}
.navbar{
    padding: 0px;
}
.custom-nav{
    box-shadow: 0px 0px 5px grey ;
}
.nav_Login{
    position: relative;
}
.nav-item{
    cursor: pointer;
}
.nav-item hr{
    border: none;
  margin: 0px;
    height: 3px;
    background-color: #ff4141;
    border-radius: 10px;
    width: 80%;
}
.cart_count{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: red ;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    right: -15px;
    top: -5px;
}
.user_icon{
    color: rgb(57, 47, 47);
    font-size: 25px;
}
.cart_icon{
    color:black;
    font-size: 25px;
    text-decoration: none!important;
}
.nav_Mobile{
display: none;
}

.side_nav{
 gap: 30px;


}
.side_nav li{
    background: grey;
    padding :5px 15px;
    
    
   }

.Mobile_navs ul li{
list-style: none;
margin-top: 10px;
}
.mobile_toggler{
    display: none;
    border: none;
    background: none;
}
.login_btn{
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;

}
.cart_count{
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    right: -4px;
    top: -9px;
}
@media screen and (min-width:300px) and (max-width:551px) {
    .navbar-nav hr{
        display: none;
    }
    .navbar{
        padding: 0px !important;
        margin: 0px;
    }
    .nav_Login{
        display: none;
    }
  .mobile_toggler{
    display: block;
  }
  .navbar-toggler{
    display: none;
  }
  
    .navbar-brand{
        width: 50%;
    }
    .main-logo{
        width: 100%;
        margin-top: -5px;
    }
    .nav_Mobile{
        display: flex;
        
        }
.user_icon{
    margin-right: 20px;
}
    .cart_count {
        width: 17px;
        height: 17px;
        position: absolute;
        background-color: red;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        right: 5px;
        top: 7px;
        color: white;
        line-height: 18px;
    }
    .navbar-nav li:hover{
        text-decoration: underline;
        color: #ff4141 !important;

    }
  

}
